
{% extends 'layout/app-layout.html' %}

{% block 'content' %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	{% load static %}
  
	  <style>
		  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

	  body {
	  background-image: url("{% static 'mn.jpg' %}");
	  /* Adjust background properties as needed */
	  
	  background-repeat: no-repeat;
	  background-size: cover; /* or 'contain' based on your preference */
	  /* Optionally, you can add more CSS properties such as background-position */
	  background-position: center;
            background-size: cover;
            padding-top: 45px;
	  }
	  .login-form {
            background: #1a11117a;
            margin-top: 50px;
            margin-bottom: 100px;
            padding: 100px;
            border-radius: 50px;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        }
      h2{
            color: #ffff;
        }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* Customize the background color */
    padding: 5px 20px;
    margin-top:-40px;
}

.logo img {
    height: 40px; /* Adjust logo size */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #025554f1; /* Customize link color */
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #bc4cb9; /* Customize hover color */
}

  h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 520;
  font-family: 'Roboto', sans-serif;
  color: #452242;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #957dad,
               1px 2px 0px #6223a1,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}
	  </style>
  </head>


  <body>


    <body>
      <nav class="navbar">
          <div class="logo">
            <img src="{% static 'pharmacy-logo.jpg' %}" alt="Pharmacy Logo">
          </div>
          <ul class="nav-links">
              <li><a href="{% url 'createproduct' %}">ADD MEDICINE</a></li>
              <li><a href="{% url 'signup' %}">SIGNUP</a></li>
              <li><a href="{% url 'logout' %}">LOGOUT</a></li>
              <li><a href="{% url 'page_list' %}">LISTS OF MEDICINE</a></li>
          </ul>
      </nav>
      <!-- Rest of your website content goes here -->
<h1> PHARMACY FOR YOU</h1>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-form">
                    <h2>Login</h2>
                    <form method="post">
						{% csrf_token %}
				  
                        <div class="form-group">
                            <label for="id_username"></label>
							<input type="text" class="form-control" name="username" placeholder="USERNAME" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">                        </div>
                        <div class="form-group">
                            <label for="id_password"></label>
							<input type="password" class="form-control" placeholder="PASSWORD"  name="password" autocomplete="current-password" required="" id="id_password">                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
						<p>if you don't have an account <a href="{% url 'signup' %}">Signup</a></p>
                    
					</form>
					{% endblock %}

                </div>
            </div>
        </div>
    </div>
  </body>
  </html>
  
  



<!--
  <li class="nav-item"><a href="{% url 'createproduct' %}" class="nav-link">ADD MEDICINE</a></li>
  <li class="nav-item"><a href="{% url 'retrieveproduct' %}" class="nav-link">LISTS</a></li>
  <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">SIGNUP</a></li>
  <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">LOGOUT</a></li>
  <li class="nav-item"><a href="{% url 'page_list' %}" class="nav-link">LISTS OF MEDICINE</a></li>-->















